


.pricing-h1 {
  margin-top: 18rem;
}

.faq {
  margin-top: 5rem;
  padding-bottom: 120px;
}

.faq h2{
  color: #025157;
  font-family: Arial, Helvetica, sans-serif;
}
.faq h2 button {
  font-size: 2.8rem;
  font-weight: 900;
}

.faq .accordion-body a{
  color: #6abf4b;
}

